<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
		
	<mvc:annotation-driven/>
	<context:component-scan base-package="com"/>
	<aop:aspectj-autoproxy proxy-target-class="true"/>	
		
	<bean name="goodsServiceImpl" class="com.service.GoodsServiceImpl"></bean>
	
	<!-- 2.配置数据源 -->
	<bean name="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
		<property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl"/>
		<property name="username" value="chenqi"/>
		<property name="password" value="123456"/>
		<property name="defaultAutoCommit" value="false"/>
	</bean>
	
	<!-- 3.配置SqlSessionFactory -->
	<bean name="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="mapperLocations" value="classpath*:com/dao/GoodsMapper.xml"/>
	</bean>
	
	<!-- 4.配置SqlSessionTemplate返回sqlSession -->
	<bean name="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<!-- 只能是构造方法注入，不能使用set注入 -->
		<constructor-arg index="0" ref="sqlSessionFactory"/>
	</bean>
	
	<!-- 5.配置事务管理器-->
	<bean name="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<!-- 6.走注解配置事务 -->
	<tx:annotation-driven transaction-manager="txManager"/>
	
</beans>
